#app {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

#app .container {
  position: relative;

  overflow: hidden;
  z-index: 100;

  width: 376px;
  height: 666px;
  background: rgba(255, 255, 255, 0.916);
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.9);
}

#app .container-view {
  overflow-y: scroll;

  padding: 16px 20px 20px;
  margin-bottom: 20px;
  height: calc(100% - 151px);
}
