.navigator {
  position: absolute;
  bottom: 0;

  width: -webkit-fill-available;
  background-color: var(--white-color);
  padding: 0 20px;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      padding: 15px 0;

      &#here {
        border-bottom: 2px solid var(--green-color);
      }

      img {
        width: 18px;
      }

      .navigator-phone {
        position: relative;

        span {
          position: absolute;
          top: -9px;
          right: -8px;

          display: flex;
          align-items: center;
          justify-content: center;

          width: 10px;
          height: 10px;
          background-color: var(--red-color);
          border-radius: 50%;
          padding: 3px;

          color: var(--white-color);
          font-size: 13px;
        }
      }

      .middle-phone {
        position: relative;

        .circle-phone {
          position: absolute;
          top: -45px;
          left: -32px;

          width: 60px;
          height: 60px;
          background-color: var(--white-color);
          border-radius: 50%;
          border: 1px solid var(--border-color);
        }

        .small-circle-phone {
          position: absolute;
          top: -40px;
          left: -27px;

          display: flex;
          align-items: center;
          justify-content: center;

          width: 52px;
          height: 52px;
          background-color: var(--green-color);
          border-radius: 50%;

          .dot-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5px;

            .dot {
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background-color: var(--white-color);
            }
          }
        }
      }
    }
  }
}
