.navigator {
  position: absolute;
  bottom: 0;

  width: -webkit-fill-available;
  background-color: #fff;
  padding: 0 20px;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      padding: 15px 0;

      &#here {
        border-bottom: 2px solid #45c122;
      }

      img {
        width: 18px;
      }

      .middle-phone {
        position: relative;

        .circle-phone {
          position: absolute;
          top: -45px;
          left: -32px;

          width: 60px;
          height: 60px;
          background-color: #fff;
          border-radius: 50%;
          border: 1px solid rgba(0, 0, 0, 0.1);
        }

        .small-circle-phone {
          position: absolute;
          top: -40px;
          left: -27px;

          display: flex;
          align-items: center;
          justify-content: center;

          width: 52px;
          height: 52px;
          background-color: #45c122;
          border-radius: 50%;

          .dot-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5px;

            .dot {
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background-color: #fff;
            }
          }
        }
      }
    }
  }
}
